{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-assign",
    "transform-decorators-legacy"
  ]
}
/*plugins:transform-runtime*/
